* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

h2 {
  text-align: center;
}

#input:focus {
  outline: none;
}

#input {
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#check,
#restart {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}
